<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.androidbunch.drawroutev2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".fooddelivery.Loginphoto"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.Login3"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.Login4"
            android:theme="@style/NoActionBarLogin"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.Verify_phone"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.VerifyPhoneWhatsApp"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.OrderTracking"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtA9NFKy55PO2oH37NLUntcmURE24qBC4" />
        <!-- <meta-data -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="DATABASE"
            android:value="restaurant.sqlite" />

        <activity
            android:name=".fooddelivery.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".fooddelivery.DetailPage"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".fooddelivery.Cart"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".fooddelivery.Aboutus"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".fooddelivery.Termcondition"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name=".fooddelivery.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity> <!-- facebook settings -->
        <!-- start -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>

        <!--<provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider2000030113588435____2000030113588435"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />  end -->
        <activity
            android:name=".fooddelivery.Profile"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".fooddelivery.Mapactivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".fooddelivery.MyOrderPage"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- setting of firebase -->
        <service android:name=".utils.MyFirebaseMessagingService"
            tools:ignore="ExportedService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.GPSTracker" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".fooddelivery.PlaceOrder"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.DialogActivitySimple"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:exported="false">
            <intent-filter>
                <action android:name="faster.com.ec.DialogActivitySimple_TARGET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".fooddelivery.OrderInfo"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.RatingDelivery"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".fooddelivery.CompleteOrder"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="faster.com.ec.CompleteOrder_TARGET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fooddelivery.MenuList"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".fooddelivery.AdvertiseActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.OrderSpecification" />

        <activity
            android:name=".fooddelivery.DeliveryAddress"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.SelectLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".fooddelivery.EditLocation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>

</manifest>